body{
    font-family: 'Anton', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;

}
section{
display: flex;
margin-bottom: 100px;
}
.half-width{
    padding-left: 5%;
    width: 100%;
}
.half-width img{
width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( salmon, orange);
    color: white;
    font-weight: 300;
    padding: 10px 40px;
    border-radius: 50px;
}
.top-banner{
    background-image: url(images/Frame\ 59.jpg);
    
    background-repeat: no-repeat;
}
}
.recipie {
    margin: 0 50px;
    display: inline-flex;
    box-shadow: 20px 20px 30px rgb(163, 163, 163);
    padding: 50px;
    border-radius: 30px;
    width: 25%;
  }
  }
  .recipie h1 {
    color: rgb(45, 45, 45);
  }
  .color-grey {
    color: grey;
  }
  .bold {
    color: rgb(44, 44, 44);
    font-weight: bold;
  }
  .recipie {
    margin: 0 20px;
    display: inline;
    box-shadow: 15px 10px 30px rgb(163, 163, 163);
    padding: 20px;
    border-radius: 10px;
    width: 25%;
  }
  
  }
  .recipie h1 {
    color: rgb(45, 45, 45);
  }
  .color-grey {
    color: grey;
  }
  .bold {
    color: rgb(44, 44, 44);
    font-weight: bold;
  }
  .recipie {
    margin: 0 40px;
    display: inline;
    box-shadow: 15px 10px 30px rgb(163, 163, 163);
    padding: 30px;
    border-radius: 20px;
    width: 35%;
  }
  .recipie img {
    width: 100%;
    border-radius: 10px;
  }
  .recipie h1 {
    color: rgb(45, 45, 45);
  }
  .color-grey {
    color: grey;
  }
  .bold {
    color: rgb(44, 44, 44);
    font-weight: bold;
  }
